.bg-site_top {
    background: rgba(0, 0, 0, 0) linear-gradient(120deg, #757575 65%, #8e0404 35%) repeat scroll 0 0;
}

.top-bar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    position: relative;

    @media (min-width: 768px) and (max-width: 1199px) {
        padding: 0;
    }

    @media (max-width: 767px) {
        margin-bottom: 45px;
    }
}

.contact_details {
    padding: 5px 0;
    height: 32px;
    margin-left: 190px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 13px;
    color: $white;

    @media (min-width: 768px) and (max-width: 1199px) {
        margin-left: 130px;
        font-weight: 300;
        font-size: 10px;
    }

    @media (max-width: 767px) {
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 20%;
        height: 100%;
        align-items: flex-start;
    }

}

.sticky-menu {
    position: fixed;
    top: 50px;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: top 0.2s ease-in-out;
    // transition-delay: 0.2s;

    @media (min-width: 768px) and (max-width: 1199px) {
        top: 30px;
    }


}

.sticky-menu.visible {
    top: 0;
    z-index: 2;
}

.sticky-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.sticky-menu li {
    margin: 0 20px;

    @media (min-width: 768px) and (max-width: 1199px) {
        margin: 0 5px;
    }

    @media (max-width: 767px) {
        margin: 20px 10px;
    }
}

.sticky-menu a {
    text-transform: uppercase;
    color: $main-text-color;
    font-size: 16px;
    transition: $transition;

    @media (min-width: 768px) and (max-width: 1199px) {
        font-size: 12px;
        margin: 5px;
    }

    @media (max-width: 767px) {
        font-size: 18px;
        color: $white;
    }
}

.header-icon {
    margin-right: 20px;
    display: flex;
    align-items: center;
    transition: $transition;

    @media (max-width: 767px) {
        margin-top: 15px;
    }
}

.header_icon-set {
    margin-right: 5px;
    color: $bordo;
    font-size: 16px;

    @media (max-width: 767px) {
        margin-right: 15px;
    }
}

.square-with-triangle-logo {
    width: 160px;

    @media (min-width: 768px) and (max-width: 1199px) {
        width: 110px;
    }
}

.square-with-triangle {
    position: absolute;
    top: 0;
    width: 180px;
    height: 124px;
    background-color: $bordo;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $bordo;

    @media (min-width: 768px) and (max-width: 1199px) {
        width: 120px;
        height: 70px;
    }

    @media (max-width: 767px) {
        top: 133px;
        height: 45px;
        z-index: 1;
    }
}

.square-with-triangle::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 90px solid $transparent;
    border-right: 90px solid $transparent;
    border-top: 34px solid $bordo;
    position: absolute;
    bottom: -34px;
    right: 0px;

    @media (min-width: 768px) and (max-width: 1199px) {
        border-left: 60px solid $transparent;
        border-right: 60px solid $transparent;
        border-top: 22px solid $bordo;
        bottom: -22px;
    }

    @media (max-width: 767px) {
        border-left: 90px solid $transparent;
        border-right: 90px solid $transparent;
        border-top: 15px solid $bordo;
        bottom: -15px;
    }

}

.face-top {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(176, 58, 58);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transition: background-color 0.25s ease, border 0.25s ease;
    color: white;

    @media (min-width: 768px) and (max-width: 1199px) {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
}

.face-top:hover,
.face-top:focus {
    color: white;
    background-color: rgb(5, 5, 143);
    border: 1px solid rgb(5, 5, 143);
}

.nav {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (min-width: 768px) and (max-width: 1199px) {
        padding: 8px 8px;
    }

    @media (max-width: 767px) {
        display: none;
    }

}

.nav__list {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-transform: uppercase;
}

.nav__item {
    color: $main-text-color;
    font-size: 16px;
    margin: 15px;
    transition: $transition;

}

.nav__item:hover {
    color: $bordo;

}

body.open-menu,
html.open-menu {
    overflow: hidden;
}

.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0) linear-gradient(120deg, #757575 65%, #8e0404 35%) repeat scroll 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    color: $white;
}

.logo_mobile-menu {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.mobile-menu.open {
    transform: translateX(0);
}

.mobile-menu-close {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.close-icon {
    font-size: 40px;
    color: $white;
}

.mobile-menu__list {
    padding: 0;
    margin: 40px 0;
    text-align: center;
}

.mobile-menu-toggle {
    display: none;
}

.mobile-menu_logo {
    display: none;
}

@media (max-width: 767px) {
    .mobile-menu-toggle {
        display: block;
        position: absolute;
        bottom: -29%;
        right: 20%;
        z-index: 1;
        background: none;
        border: none;
        cursor: pointer;
    }



    .mobile-menu-toggle.visibleMobile {
        height: 50px;
        width: 100%;
        background: url('../images/logo_balex-com.png'), rgba(0, 0, 0, 0) linear-gradient(120deg, #757575 65%, #8e0404 35%) repeat scroll 0 0;
        background-size: 40%, contain;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.95;
        z-index: 2;
        position: fixed;
        left: 0;
        top: 0;
        transition: position 0.3s ease-in-out;
    }

    .mobile-menu-toggle.visibleMobile>.bar {
        background-color: $white;
    }


    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
        background-color: #333;
        transition: transform 0.3s ease-in-out;
    }

    .mobile-menu-toggle.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .mobile-menu-toggle.open .bar:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu-toggle.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .mobile-menu-toggle.open:focus {
        outline: none;
    }

    .mobile-menu-toggle:focus .bar {
        background-color: #333;
    }
}



.section-pad {
    height: 100px;

    @media (min-width: 768px) and (max-width: 1199px) {
        height: 50px;
    }

    @media (max-width: 767px) {
        height: 30px;
    }
}

.flag-uk {
    font-size: small;
    opacity: 0.5;
    transition: opacity, font-weight 0.3s ease-in-out;

    @media (min-width: 768px) and (max-width: 1199px) {
        font-size: 12px !important;
    }

    @media (max-width: 767px) {
        color: #fff;
        font-size: 18px;
    }
}

.flag-uk:hover {
    opacity: 1;
    font-weight: 400;
}

.flag-en {
    font-size: small;
    opacity: 0.5;
    transition: opacity, font-weight 0.3s ease-in-out;

    @media (min-width: 768px) and (max-width: 1199px) {
        font-size: 12px !important;
    }

    @media (max-width: 767px) {
        color: #fff;
        font-size: 18px;
    }
}

.flag-en:hover {
    opacity: 1;
    font-weight: 400;
}

.language-switcher {
    position: relative;
    display: flex;
    align-items: center;
}

// .toggle {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 40px;
//   height: 20px;
//   background-color: #ccc;
//   border-radius: 10px;
//   transition: all 0.3s ease-in-out;
// }

// .toggle:before {
//   content: "";
//   position: absolute;
//   top: 2px;
//   left: 2px;
//   width: 16px;
//   height: 16px;
//   background-color: #fff;
//   border-radius: 50%;
//   transition: all 0.3s ease-in-out;
// }

.lang-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

// .flag-uk {
//     color: #000;
// }

// .flag-en {
//     color: #000;
// }

.flag-uk.activeLang {
    opacity: 1;
    font-weight: 400;
}

.flag-en.activeLang {
    opacity: 1;
    font-weight: 400;
}