.hero__container_bx {
    background-image: url('../images/Bread2-scaled-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 760px;  
    display: flex;
    align-items: center;

    // padding: calc((90vh - 190px)/2) 0;
    @media (min-width: 768px) and (max-width: 1199px) {
        height: 630px;
    }

    @media (max-width: 767px) {
        height: 380px;
    }
}


// .hero__container_bx:before {
//     content: "";
//     width: 100%;
//     height: 100%;
//     z-index: -1;
//     background: linear-gradient(to right, #ebe4eb, #fef8f8 50%, #e8e1e8 50%, #d9c6c0 100%) repeat scroll 0 0;
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
// }

.hero__container_bx-text {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    @media (min-width: 768px) and (max-width: 1199px) {
        margin-right: 60px;
    }
}

.hero__container_bx-h1 {
    padding: 15px;
    background-color: $bordo;
    color: $white;
    font-size: 35px;
    // max-width: 600px;
    text-align: right;

    @media (min-width: 768px) and (max-width: 1199px) {
        padding: 10px;
        background-color: $bordo;
        color: $white;
        font-size: 30px;
        // max-width: 600px;
    }

    @media (max-width: 767px) {
        font-size: 20px;
        padding: 5px;
    }
}

.hero__container_bx-p {
    padding: 10px;
    color: $main-text-color;
    font-size: 20px;
    text-align: right;

    @media (min-width: 768px) and (max-width: 1199px) {
        font-size: 18px;
        padding: 5px;
    }

    @media (max-width: 767px) {
        font-size: 14px;
        padding: 3px;
    }
}


/* Стили для анимации */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bottom-to-top li {
    opacity: 0;
    animation: fade-in 1.7s ease-in-out forwards;
    animation-delay: 1.5s;
}