.section_speciality-bg {
    background-image: url('../images/specialitybg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 60vh;

    @media (min-width: 768px) and (max-width: 1199px) {
        height: 40vh;
    }

    @media (max-width: 767px) {
        height: 40vh;
    }
}

.our_speciality-pos {
    position: relative;

    @media (max-width: 767px) {
        margin: 0 30px;
    }
}

.our_speciality-list {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -70px;

    // @media  (min-width: 768px) and (max-width: 1199px) {
    //     padding-top: 80px;
    // }

    @media (max-width: 767px) {
        bottom: -70px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
}

.our_speciality-li {
    display: flex;    
    overflow: hidden;
    height: 416px;
    padding: 30px;
    border-bottom: 3px solid $grey;
    background-color: $white;
    text-align: center;
    transition: transform 0.3s ease;
    transition: background-color 0.5s ease;
    width: 95% !important;

    // @media (min-width: 768px) and (max-width: 1199px) {
    //     margin-left: 10px;
    // }

    @media (max-width: 767px) {
        padding: 10px;
        height: 330px;
        flex: 0 0 33.333%;
        scroll-snap-align: center;       
    }

}

.our_speciality-li:hover {
    background-color: $green_main;
}

.our_speciality-li:hover>.our_speciality-h3 {
    color: $white;
}

.our_speciality-li:hover>.our_speciality-p {
    color: $white;
}

.our_speciality-h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;

    @media (min-width: 768px) and (max-width: 1199px) {
        font-size: 15px;
    }

    @media (max-width: 767px) {
        font-size: 14px;

    }
}

.our_speciality-p {
    font-size: 16px;
    letter-spacing: 0.02;

    @media (min-width: 768px) and (max-width: 1199px) {
        font-size: 16px;
        padding: 5px;
    }

    @media (max-width: 767px) {
        font-size: 14px;
        padding: 0;
    }
}