.our_partners-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.slick-slide img {
    display: block;

    @media (min-device-width: 768px) and (max-device-width: 1199px) {
        width: 90%;
        height: auto;
        }

    @media (max-width: 767px) {
        width: 90%;
        height: auto;
    }

}

.slick-next {
    @media (max-width: 767px) {
        right: 0px;
    }
}



.slick-prev {
    @media (max-width: 767px) {
        left: 0px;
    }
}

.pb40 {
    padding-bottom: 40px;

    @media (max-width: 767px) {
        padding-bottom: 20px;
    }
}

.ptb50 {
    padding-top: 50px;
    padding-bottom: 50px;

    @media (min-device-width: 768px) and (max-device-width: 1199px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.our_partners-list>.slick-next:before,
.our_partners-list>.slick-prev:before {
    font-size: 20px;
    opacity: .75;
    color: $lightgray;

}

.our_partners-list>.slick-next:hover:before,
.our_partners-list>.slick-prev:hover:before {
    opacity: 1;
    color: $green-main;
}