html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    // transform: translateZ(0);
    color: $main-text-color;
    background-color: $bg-color;
    letter-spacing: 0.04em;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
     position: relative;
    font-size: 15px;
    word-wrap: break-word;
    overflow-x: hidden;
    width: 100%;
}

*:focus {
    outline: none;
}


a {
    color: $white;
}

body.modal-open {
    overflow: hidden;
}

.container_bx {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;

    @include mobile {
        max-width: 480px;        
    }

    @include tablet {
        max-width: 768px;
    }

    @include desktop {
        max-width: 1200px;
    }

}





.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}