$main-text-color: #4f4f4f;
$secondary-text-color:#131313;
$bg-color:#ffffff;
$green-main:#a9b63f;
$white: #ffffff;
$bordo: #8e0404;
$black: #000000;
$lightgray: #bbbbbb;
$grey: #333333;
$transparent: transparent;

$transition: color 0.25s ease;
