<header class="header">
    <div class="container_bx">
        <div id="site_top" class="bg-site_top">
            <div class="contact_details">
            
                <ul>
                                    <li>
                        <i class="fas fa-camera-rotate"></i>
                        <a href="tel:+38(099)-675-43-23">+38 099-675-43-23</a>
                    </li>

                    <li>
                        <i class="far fa-envelope"></i>
                        <a href="mailto:info@goldenmile.com.ua">info@goldenmile.com.ua</a>
                    </li>
                    <li>
                        <i class="far fa-clock"></i>
                        Пн-Пт: 8:00 – 17:00
                    </li>
                </ul>
                <i class="fas fa-bacon"></i>
            </div>
            <div class="vwsmp_front face-top-mob">
                <a href="https://www.facebook.com/goldenmile.gmth" target="_blank"><i
                        class="fab face-top fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </div>
</header>